<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="arquivo1" xsi:type="File" fileName="logs/template-sql-${shortdate}.log" />
    <target name="arquivo2" xsi:type="File" fileName="logs/template-problemas-${shortdate}.log" />
    <target name="arquivo3" xsi:type="File" fileName="logs/template-info-${shortdate}.log" />
  </targets>

  <rules>
    <logger name="*" levels="Trace" writeTo="arquivo1" />
    <logger name="*" levels="Debug,Error,Warn" writeTo="arquivo2" />
    <logger name="*" levels="Info" writeTo="arquivo3" />
  </rules>
</nlog>